# This is the exclusion file for git

# Patterns for task juggler
organisation/css
organisation/icons
organisation/scripts
organisation/*.html

# Patterns for LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
presentation/*.pdf
thesis/*.pdf
*.nav
*.out
*.run.xml
*.snm
*.toc

# Patterns for asciidoctor
research/*.html
