# This is the exclusion file for git

# Patterns for task juggler
organisation/css
organisation/icons
organisation/scripts
organisation/*.html

# Patterns for LaTeX
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lol
presentation/*.pdf
thesis/*.pdf
*.nav
*.out
*.run.xml
*.snm
*.toc

# Patterns for asciidoctor
research/*.html

# Patterns for lazybones
.lazybones
